<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Doctor Web Application</title>
<link rel="icon" href="/smartTerminalApp/img/favicon.ico"
	type=”image/x-ico”>
<link rel="shortcut icon" href="/smartTerminalApp/img/favicon.ico"
	type="image/x-ico">
<link rel="stylesheet" type="text/css"
	href="/smartTerminalApp/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="/smartTerminalApp/css/main.css">
<link rel="stylesheet" type="text/css"
	href="/smartTerminalApp/bootstrap/css/bootstrap-datetimepicker.min.css">

<script
	src="/smartTerminalApp/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
<script src="/smartTerminalApp/js/jquery.min.js"></script>
<script src="/smartTerminalApp/bootstrap/js/bootstrap.min.js"></script>
<script src="/smartTerminalApp/js/main.js"></script>
<script src="/smartTerminalApp/js/smtapp.js"></script>
<script src="/smartTerminalApp/js/main_onload.js"></script>
</head>

<body>
	<!-- Navigation -->
	<nav
		class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary fixed-top">
		<div class="container">
			<a class="navbar-brand"
				href="/smartTerminalApp/doctor/main?docid=${docid}">Doctor Web</a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link"
						href="/smartTerminalApp/doctor/main?docid=${docid}">Home</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/smartTerminalApp/doctor/info/${docid}">Personal Info.</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/smartTerminalApp/doctor/patient?docid=${docid}">Add
							Patients</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/smartTerminalApp/doctor/${docid}/patientlist">My
							Patients</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/smartTerminalApp/doctor/search">All Patients</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">
		<!-- Breadcrumbs -->
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a
				href="/smartTerminalApp/doctor/main?docid=${docid}">Home</a></li>
		</ol>

		<!-- Details -->
		<div class="content-wrapper">
			<div class="row" id="div_records">
			</div>
			<table width="100%" border="1" class="table" frame=void rules=none>
				<tr>
					<td colspan="1" align="center"><button type="button"
							class="btn btn-primary" onclick="b_refresh()">Refresh</button></td>
					<td colspan="1" align="center"><button type="button"
							class="btn btn-primary" onclick="b_list()">Load More</button></td>
				</tr>
			</table>
		</div>
	</div>
	<input id=hd_docid type="hidden" name="hd_docid" value='${docid}' />
	<input id=hd_docName type="hidden" name="hd_docName" value='${docName}' />
	<input id=hd_minTime type="hidden" name="hd_minTime" value=0 />
</body>
</html>