<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Doctor Web Application</title>
	<link rel="icon" href="img/favicon.ico" type=”image/x-ico”>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-ico">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
	<script src="js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
</head>
	
<body>
	<!-- Navigation -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary fixed-top">
		<div class="container">
			<a class="navbar-brand" href="main.html">Doctor Web</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
				data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" 
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
		            <li class="nav-item">
		              <a class="nav-link" href="main.html">Home</a>
		            </li>
					<li class="nav-item">
		              <a class="nav-link" href="personal.html">Personal Info.</a>
		            </li>
		            <li class="nav-item">
		              <a class="nav-link" href="add.html">Add Patients</a>
		            </li>
		            <li class="nav-item">
		              <a class="nav-link" href="patients.html">My Patients</a>
		            </li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">
		<!-- Breadcrumbs -->
		<ol class="breadcrumb">
        	<li class="breadcrumb-item">
          		<a href="main.html">Home</a>
        	</li>
      	</ol>
      	
      	<!-- Details -->
		<div class="content-wrapper">
			<div class="row">
				<!-- Patient One -->
				<div class="col-lg-4 mb-4">
					<div class="card h-100">
						<h4 class="card-header">Patient One</h4>
						<div class="card-body">
							<p class="card-text">Detail information about Patient One.</p>
						</div>
	            		<div class="card-footer">
	              			<a class="btn btn-primary" href="">Read More</a>
	            		</div>
	          		</div>
	          	</div>
	          	
	          	<!-- Patient Two -->
				<div class="col-lg-4 mb-4">
					<div class="card h-100">
						<h4 class="card-header">Patient Two</h4>
						<div class="card-body">
							<p class="card-text">Detail information about Patient Two.</p>
						</div>
	            		<div class="card-footer">
	              			<a class="btn btn-primary" href="">Read More</a>
	            		</div>
	          		</div>
	          	</div>
	    	</div>	
		</div>
	</div>
</body>
</html>